* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: url("https://images.unsplash.com/photo-1595178302776-fa04e6d45879?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNreSUyMGJsdWV8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-attachment: fixed;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform-style: preserve-3d;
}

.earth
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: url("/img/image.jpg.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgb(0,0,0,1), 0 0 50px #4069ff;
    animation: animateEarth 15s linear infinite;
}

@keyframes animateEarth
{
0%
{
    background-position: 0 0;
 }
 100%
 {  
    background-position: -750px 0;
} 

}

.circle
{
    transform-style: preserve-3d;
    animation: animateText 10s linear infinite;
}

.circle span
{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    color: #35146f;
    font-size: 3em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    transform: rotateY(calc(var(--i) * calc(360deg / 31)))
    translateZ(200px);
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;
}

.circle span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateZ(-5px);
 }
@keyframes animateText
{
    0%
    {
      transform: perspective(1000px) rotateY(360deg) 
      rotateX(150deg) translateY(-30px);

    }
   100%
    {
      transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    }
    

    }